<!--Check user permisions to edit profile-->
<div class="container">
    <div class="row">
        <div class="col">
          <%if(editable){%>
            <button type="button" class="btn btn-info">Edit</button>
            <button type="button" class="btn btn-success">Save</button>
            <button type="button" class="btn" id="uploadbtn">Upload</button>
            <%include _uploads %>
          <%}%>
        </div>
    </div>
</div>

<!--User basic info-->
<div class="container mt-6">
    <div class="row mt-5">
        <!--Info-->
        <div class="col-md-4">
            <div class="card artistcard">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 cc">
                            <img src="<%= profile.imgdir%>">
                            <br>
                            <label id="user_name"><%= user.USERNAME%></label>
                        </div>
                        <div class="col-6">
                            <label id="user_followers"><%= profile.followers%> Followers</label>
                            <hr>
                            <label id="user_songs"><%= numofsongs%> Songs</label>
                            <hr>
                            <label id="user_albums"><%= numofalbums%> Albums</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About-->
        <div class="col-md-5 d-flex align-self-stretch">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label><h3>About me</h3></label>
                        </div>
                    </div>
                    <div class="row">
                        <!--Max number of chars 201-->
                        <div class="col">
                        <p id="user_description" class="justify-content"><%= profile.about %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact-->
        <div class="col-md-3 d-flex align-self-center flex-column">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label><h4>Contact</h4></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="user_contact" href="<%= profile.fblink%>">FB</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="user_contact" href="<%= profile.olink%>">Other</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="user_contact" href="<%= profile.twlink%>">Twitter</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="user_contact" href="<%= profile.iglink%>">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--User's albums-->
<div class="container mt-5">
    <div class="row fixed">
        <div class="col cc">
            <h2>Albums</h2>
        </div>
    </div>
    <!--Fill dynamically-->
    <!--print 4 albums per row-->
    <div class="albumcontainer" id="albumcontainer">
        <div class="row cc mt-3">
            <%include _profilealbumcard%>
        </div>
    </div>
</div>

<!--User's songs-->
<%include _profilesongstable%>
